html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body{
	background: #4aaaa5;
	line-height: 24px;
	width: 960px;

}
header{ 
	background: #ffffff;
	border-color: #cccccc;
	font-family: Georgia, Times, Times New Roman, serif;
	width: 100%;
}

main{ 
	
	width: 60%;
	margin: 0 auto;
	padding: 60px 0;
	border-color: #dddddd;


}

footer{ background: #666666;
	text-align: center;
	padding: 20px 0;
	clear: both;
	width: 100%;
	font-size: 14px;
	letter-spacing: 1px;
	font-style: italic;

	}

p{
	font-size: 20px;
	margin-bottom: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

nav{
	float: right;
	width: 50%;
	color: #fff;
	text-align: right;
	padding-top: 20px;
}

nav ul li{
	display: inline;
}

nav ul li a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
}

.brand{
	float: left;
	width: 25%;
	padding: 24px;
	background: #4aaaa5;


}
.brand a{
	font-size: 30px;
	display: block;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;

}


.card{
	background: #ffffff;
	box-shadow: 10px 10px 5px #00000;
	padding: 20px;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

.wrapper: after {
	content: "";
	display: table;
	clear: both;
}

.content{
	width: 70%;
	float: left;
	font-size: 32px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cecece;
	margin-bottom: 10px;
}

img.about-me-pic{
	display: inline;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #000000;
	padding: 5px;
	box-shadow: 10px 10px 5px #00000;

}


.sidebar{
	width: 22%;
	float: right;

}

.sidebar h3{
	text-transform: uppercase;
	letter-spacing: 2px
	font-weight: bold;
	margin-bottom: 25px;

}


.sidebar ul li a{
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -999999em;
}

.sidebar ul li{
	display: inline-block;
}

a.Github{
	background-color: #333;
}

a.Github:hover{
	background-color: #6e5494;
}
a.LinkedIn{
	background-color: #0077b5;
}

a.LinkedIn:hover{
	background-color: #e68523;
}
a.StackOverflow{
	background-color: #f48024;
}
a.StackOverflow:hover{
	background-color: #222426;
}